
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC Project</title>
    <style type="text/css">
        .header {
            height: 80px;
            width: 100%;
            background-color: skyblue;
            color: white;
            font-size: 25px;
            text-align: center;
            font-weight: 600;
        }
    </style>
</head>
<body>
<div class="header">
    DOT NET Practice
</div>
<div class="content">
    @RenderBody()
</div>
<div class="footer">
    @@Practice Dot Net Core
</div>

</body>
</html>
